<h1>{{title}}</h1>
<p>Welcome to {{title}}!</p>
<p>Click any of the buttons below to choose the media of your choice.</p>

<div class="controls">
    <button class="index-btn" onclick="location.href='/audio'">Audio</button>
    <button class="index-btn" onclick="location.href='/video'">Video</button>
</div>