<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>hi..</h1>
  {{!-- <nav>
    <ul>
      <li><a href="/example">hello example</a></li>
    </ul>
  </nav> --}}
  {{{body}}}
</body>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/audio.js"></script>

</html>