body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #2e3d49;
}

h1, p {
  text-align: center;
  margin-top: 1rem;
}

a {
  color: #00B7FF;
}

.caption {
  display: flex;
  max-width: 1000px;
  height: 400px;
  background-color: #2e3d49;
  margin: 100px auto;
  font-size: 30px;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  max-width: auto;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #2e3d49;
  color: #fff;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}


button:hover {
  background-color: #465769;
}

video {
  width: 100%;
  margin-top: 1rem;
}